---
import Layout from '../../layouts/Layout.astro';
import { products } from '../../data/products';

export function getStaticPaths() {
	return products.map((p) => ({
		params: { id: p.id },
		props: { product: p },
	}));
}

const { product } = Astro.props;
---

<Layout title={product.title}>
	<section class="product-page">
		<a href="/collection" class="back"> <- COLLECTION</a>

		<div class="product-images">
			{product.images.map((img) => (
				<img src={img.src} alt={img.alt} />
			))}
		</div>

		<div class="product-details">
			<h1>{product.title}</h1>
			<span class="id">{product.id}</span>
			<span class="price">€{product.price}</span>
			<div class="description">{product.description}</div>
			<div class="akkordions">
				<details class="akkordion">
					<summary class="akkordion-titel">DETAILS</summary>
					<div class="akkordion-details">
						{product.productDetails}
					</div>
				</details>
				<details class="akkordion">
					<summary class="akkordion-titel">PRODUCT CARE</summary>
					<div class="akkordion-product-care">
						{product.productCare}
					</div>
				</details>
			</div>
		</div>
	</section>
</Layout>